@import 'bootstrap/dist/css/bootstrap.min.css';

.container{
align-items: center;
padding: 100px;
background-color: azure;
}
.container h3{
  text-align: center;
  padding-bottom: 50px;
}
.ad{
  padding-top: 50px;
}
